<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <link rel="icon" type="image/x-icon" href="../../public/Expense-Icon.png" />
    
    <!-- Local Bootstrap CSS -->
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />

    <!-- Local Bootstrap JS -->
    <script defer src="../../public/js/bootstrap.bundle.min.js"></script>

    <!-- Local Axios -->
    <script src="../../public/js/axios.min.js"></script>

    <link rel="stylesheet" href="../../styles/mystyle.css">

    <!--<script src="https://checkout.razorpay.com/v1/checkout.js"></script>-->

    <script type="module" src="../JS/index.js"></script>
  </head>
  <body>
    <header></header>
    <div class="container-fluid">
      <!--Show Results with Toast-->
      <div class="container mt-3">
        <div class="toast-container position-fixed top-0 end-0 p-3">
          <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="../../public/Expense-Icon.png" class="rounded me-2" alt="Chat App" width="20%" height="20%" />
                <strong class="me-auto">Chat App</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                  
            </div>
          </div>
        </div>
      </div>
      <!--Chat App Area-->
      <div class="row full-chat-area">

          <!--Persons & Group Name-->
          <div class="chat-with-person col-3">
            <div class="row justify-content-start">
              <h3 class="fw-bold text-start mt-2"  style="color: #6610f2;">Let's Chat</h5>
            </div>
            <div class="persons">
              
            </div>            
          </div>

          <!--Chat & Text Box Area-->
          <div class="chat-box col-9">

            <!-- Create Group Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create Group</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="createGroup">
                      <div>
                        <label for="groupName" class="col-form-label">Group Name:</label>
                        <input type="text" class="form-control" id="groupName" required />
                      </div>
                      <div class="row mb-3">
                        <div class="col-auto">
                          <label for="groupMembersList" class="col-form-label"></label>
                          <input type="tel" class="form-control" id="groupMembersList" placeholder="Phone Number" minlength="10" maxlength="10" />
                        </div>
                        <div class="col-auto align-self-end">
                          <button type="button" class="btn btn-primary" id="createGroupAddParticipant">Add Participant</button>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create Group</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!--Show Group Details Modal-->
            <div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">Add Participants</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="scrollableModalBody">
                    <div class="invisible" id="addParticipantDiv">
                      <form class="row justify-content-center g-2" id="addParticipantForm">
                        <div class="col-auto">
                            <label for="participantNumber" class="visually-hidden">Add Participant</label>
                            <input type="tel" class="form-control" id="participantNumber" 
                            placeholder="Phone Number" minlength="10" maxlength="10" required />
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Add Participant</button>
                        </div>
                      </form>
                      <hr>
                    </div>
                    <div id="GroupDetailsModal">

                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="row">
                      <div class="col-auto">
                        <label for="createdGroupName">
                          <input type="text" class="form-control" id="createdGroupName" placeholder="Group Name" 
                          minlength="1" maxlength="20" required />
                        </label>
                      </div>
                      <div class="col-auto">
                        <button type="button" class="btn btn-secondary" id="renameGroupBtn">Rename Group</button>
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="exitGroupBtn">Exit Group</button>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Chat Person Name-->
            <div class="person-details">
              <!--<div class="person-name fw-bold p-3 col invisible" style="word-wrap: break-word;">You: obj.chatMsg</div>-->
            </div>
    
            <!--Chat Box-->
            <div class="row chat-start">
              <div class="chats mt-2">
                <h1 class="fw-bold text-center" style="color: #6610f2;">Welcome To</h1>
                <h1 class="fw-bold text-center" style="color: #6610f2;">Chat App</h1>
              </div>
            </div>
          </div>
      </div>
      <!--Text Box-->
      <div class="row justify-content-end">
        <div class="col-9">
          <form id="chatForm">
            <div class="input-group chat-input invisible" id="chatTextBox">
                <input type="text" class="form-control" id="chatMsg" placeholder="Message Here" aria-label="Message Here" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary fw-semibold text-light" type="submit" id="button-addon2">Send</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</body>
</html>