.navbar, .btn {
    background-color: #6610f2;
  }
  a.link {
  color: #6610f2;
  }

  .full-chat-area {
    margin-top: -15px;
  }

  .chat:nth-of-type(odd) {
    background-color: grey;
  }

  .chat-box {
    height: auto;
    max-height: 81vh;
    /*overflow: auto;*/
  }

  .chat-input {
    position: fixed;
    bottom: 1px; /* Keeps it at the bottom */
    right: 5px;
    width: 74%; /* Adjust this for preferred width */
    max-width: 100%; /* Ensures it does not stretch too much */
    background-color: whitesmoke; /* Dark background */
    padding: 5px;
    border-radius: 5px;
  }

  .person-name, .group-name {
    position: fixed;
    width: 74.9%;
    background-color: blueviolet;
    color: whitesmoke;
  }

  .chat-start {
    margin-top: 6%;
    height: auto;
    max-height: 71vh;
    overflow: auto;
  }

  .chat-with-person {
    height: 88.9vh;
    max-width: 88.9vh;
    overflow: auto;
    border-right: 1px solid grey;
  }

  .person {
    cursor: pointer;
  }

  .person:hover {
    background-color: grey;
  }

  body {
    overflow: hidden;
  }